#accordion {
    list-style:none;
    margin-bottom: 30px;
    padding:0;
    height:370px;
    width: 100%;
    overflow:hidden;
}

#accordion .panel-accordion {
    float:left;
    display:block;
    height:370px;
    width:44px;
    overflow:hidden;
    color:#666666;
    text-decoration:none;
    font-size:16px;
    line-height:1.5em
}
#accordion .panel-accordion.active {
    width:848px
}
.panelContent {
    padding:0px 15px 15px 55px;
    height:240px;
    width:778px;
}
.header {
    width:50px;
    height:100%;
    float:left;
    background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,fcfcfc+100 */
background: #efefef; /* Old browsers */
background: -moz-linear-gradient(left,  #efefef 0%, #fcfcfc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #efefef 0%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #efefef 0%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fcfcfc',GradientType=1 ); /* IE6-9 */

    border-left:2px solid #444;
    cursor:pointer
}

.last {
    border:none
}

.numeros_plancrecer {
    font-size: 1.5em;
    padding: 10px 5px 0 5px;
}

.titulos_plancrecer {
    font-size: 1.5em;
    padding: 10px 5px 0 5px;
    color: #F7A600;
}